<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 p-5">
          <h5><%= @customer.name %> 【 編集ページ 】</h5>

          <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>

            <div class="row mt-3">
              <div class="col-3">
                <div class="required"><%= f.label :name, "お名前" %></div>
              </div>
              <div class="col-8 offset-1">
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <%= f.label :my_fave, "好きなひと" %>
              </div>
              <div class="col-8 offset-1">
                <%= f.text_field :my_fave, autocomplete: "my_fave", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <%= f.label :introduction, "自己紹介" %>
              </div>
              <div class="col-8 offset-1">
                <%= f.text_area :introduction, autocomplete: "introduction", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <div class="required"><%= f.label :email, "メールアドレス" %></div>
              </div>
              <div class="col-8 offset-1">
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <div class="required"><%= f.label :published, "アカウント公開" %></div>
              </div>
              <div class="col-8 offset-1">
                <%= f.radio_button :published, true, checked: true %>
                <%= f.label :published, "公開", value: true %>
                &emsp;
                <%= f.radio_button :published, false %>
                <%= f.label :published, "非公開", value: false %>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <%= render 'layouts/back_btn' %>
              </div>
              <div class="col-2 offset-1">
                <%= f.submit "保存", class: "btn btn-outline-success btn-sm btn-block" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>