<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">

      <div class="row">
        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between">
          <h5><%= @customer.name %></h5>
            <div class="col-2">
              <%= render 'public/relationships/btn', customer: @customer %>
            </div>
          </form>
          <div class="row">
            <div class="col-4">
              <table class="table">
                <tr>
                  <td>フォロー</td>
                  <td><%= @customer.followings.count %></td>
                </tr>
                <tr>
                  <td>フォロワー</td>
                  <td><%= @customer.followers.count %></td>
                </tr>
              </table>
            </div>
            <div class="col-8"></div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-8 p-5">
          <div class="row mt-3">
            <div class="col-4">
              <h6>投稿</h6>
              <table class="table">
                <tr>
                  <td>ライブ</td>
                  <td><%= @genre1_posts.count %></td>
                </tr>
                <tr>
                  <td>舞台</td>
                  <td><%= @genre2_posts.count %></td>
                </tr>
                <tr>
                  <td>ミュージカル</td>
                  <td><%= @genre3_posts.count %></td>
                </tr>
              </table>
            </div>

        <div class="col-4">
          <%= @customer.introduction %>
        </div>
      </div>

        </div>
      </div>



      <%= link_to "likes", likes_customer_path(@customer) %>

    </div>
  </div>
</div>