<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 mb-3 p-5">
          <form class="form-inline d-flex justify-content-between">
            <h5>
              <%= @customer.name %>
              <% if @customer.official == true %>
                <i class="far fa-check-circle" aria-hidden="true"></i>
              <% elsif @customer.published == false && @customer.is_deleted == false %>
                <i class="fas fa-key" aria-hidden="true"></i>
              <% end %>
            </h5>
            <div class="col-5">
              <% if @customer.published == false && @customer != current_customer %>
                <%= @customer.followers.count %>&emsp;Followers
                &emsp;&emsp;
                <%= @customer.followings.count %>&emsp;Following
              <% else %>
                <%= link_to @customer.followers.count, customer_followers_path(@customer), class: "text-dark" %>&emsp;Followers
                &emsp;&emsp;
                <%= link_to @customer.followings.count, customer_followings_path(@customer), class: "text-dark" %>&emsp;Following
              <% end %>
            </div>
            <div class="col-2">
              ️<%= link_to likes_customer_path(@customer), class: "link" do %>
                <i class="far fa-bookmark" aria-hidden="true"></i> likes
              <% end %>
            </div>
            <div class="col-2">
              <% if @customer == current_customer && @customer.name != "guestuser" %>
                <%= link_to "編集", edit_customer_path(current_customer), class: "btn btn-outline-success btn-sm btn-block" %>
                <%= link_to "退会", confirm_unsubscribe_path, class: "btn btn-outline-danger btn-sm btn-block" %>
              <% else %>
                <%= render 'public/relationships/btn', customer: @customer %>
              <% end %>
            </div>
          </form>

          <div class="row mt-3">
            <div class="col-4">
              <div class="box p-4">
                <p>favorite</p>
                <p>
                  <% if @customer.my_fave.present? %>
                    <%= @customer.my_fave %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="col-8">
              <div class="box p-4">
                <p>me</p>
                <p>
                  <% if @customer.introduction.present? %>
                    <%= safe_join(@customer.introduction.split("\n"),tag(:br)) %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 p-5">
          <% if @customer.is_deleted == true %>
            <p class="text-center">このアカウントは退会済です。</p>
          <% elsif @customer.published == false && @customer != current_customer %>
            <p class="text-center">このアカウントは非公開アカウントです。</p>
          <% elsif @customer_posts.count == 0 %>
            <p class="text-center">投稿はまだありません。</p>
          <% else %>
            <div class="post-list">
              <div class="row">
                <% @customer_posts.each do |post| %>
                  <div class="col-4 mb-3">
                    <div class="card text-white">
                      <%= image_tag post.image %>
                      <div class="card-img-overlay">
                        <h5 class="card-title"><strong><u><%= link_to post.title, post_path(post), class: "text-light" %></u></strong></h5>
                        <p class="card-text">
                          <%= post.show_date.strftime('%y.%m.%d') %><br>
                          <%= post.show_name %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>