<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <p class="notice"><%= notice %><%= alert %></p>

      <div class="row">
        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between">
            <h5><%= @customer.name %></h5>
            <div class="col-6">
              <%= link_to @customer.followers.count, customer_followers_path(@customer), class: "text-dark" %>&emsp;Followers
              &emsp;&emsp;
              <%= link_to @customer.followings.count, customer_followings_path(@customer), class: "text-dark" %>&emsp;Following
            </div>
            <div class="col-2">
              <% if @customer == current_customer %>
                <%= link_to "編集", edit_customer_path(current_customer), class: "btn btn-outline-success btn-sm btn-block" %>
                <%= link_to "退会", confirm_unsubscribe_path, class: "btn btn-outline-danger btn-sm btn-block" %>
              <% else %>
                <%= render 'public/relationships/btn', customer: @customer %>
              <% end %>
            </div>
          </form>

          <div class="row mt-3">
            <div class="col-4">
              <div class="box p-4">
                <p>favorite</p>
                <p><%= @customer.my_fave %></p>
              </div>
            </div>
            <div class="col-8">
              <div class="box p-4">
                <p>about me</p>
                <p><%= @customer.introduction %></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-8 p-5">
          <div class="row mt-3">
            <div class="col-4">
              <h6>投稿</h6>
              <table class="table">
                <tr>
                  <td>ライブ</td>
                  <td>count</td>
                </tr>
                <tr>
                  <td>舞台</td>
                  <td>count</td>
                </tr>
                <tr>
                  <td>ミュージカル</td>
                  <td>count</td>
                </tr>
              </table>
              <div class="row mt-5 ml-2">
                <u>️<%= link_to "いいねした投稿", likes_customer_path(@customer), class: "text-dark" %></u>
              </div>
            </div>
            <div class="col-8">
              <% @customer_posts.each do |post| %>
                <p>
                  <%= post.show_date.strftime('%m.%d') %>&emsp;
                  <u><%= link_to post.show_name, post_path(post), class: "text-dark" %></u>
                </p>
              <% end %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-10"></div>
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>