<div class="container">
  <div class="row my-4">
    <div class="col-md-8 p-5">
      <h4 class="mb-5 text-center">退会手続き</h4>
      <p>
        ご満足いただけるサービスを提供できず申し訳ございません。<br>
        今後のサービス品質向上のため、退会理由を教えていただけると幸いです。
      </p>
      <div class="form-group">
        <%= form_with model: @customer, url: withdraw_customer_path, method: :patch do |f| %>
          <%= f.label :cancel, "退会理由" %>
          <%= f.text_area :cancel, class: "form-control" %>
          <%= f.hidden_field :is_deleted, :value => true %>
          <%= f.hidden_field :published, :value => false %>
          <div class="row mt-3">
            <p>
              <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
              退会手続きが完了すると、同じメールアドレスでは再登録ができなくなってしまいます。
            </p>
            <div class="col-md-6 mt-3 mx-auto">
              <%= f.submit "退会する", data: { confirm: "本当に退会しますか？" }, class: "btn btn-outline-danger btn-sm btn-block" %>
              <%= link_to "退会しない", customer_path(@customer), class: "btn btn-outline-success btn-sm btn-block" %>
            </div>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>