<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 p-5">
          <h4 class="mb-3">新規投稿</h4>

          <div class="row">
            <div class="col-12">
              <%= form_with model: @post, url: posts_path do |f| %>
                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :genre_id, "ジャンル" %>
                  </div>
                  <div class="col-8">
                    <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control" %>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :title, "タイトル" %>
                  </div>
                  <div class="col-8">
                    <%= f.text_field :title, class: "form-control" %>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :body, "本文" %>
                  </div>
                  <div class="col-8">
                    <%= f.text_area :body, class: "form-control" %>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :image, "画像" %>
                  </div>
                  <div class="col-8">
                    <%= f.file_field :image, accept: "image/*" %>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :place, "会場名" %>
                  </div>
                  <div class="col-8">
                    <%= f.text_field :place, class: "form-control" %>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-3">
                    <%= f.label :show_name, "公演名" %>
                  </div>
                  <div class="col-8">
                    <%= f.text_field :show_name, class: "form-control" %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3">
                    <%= f.label :show_date, "公演日" %>
                  </div>
                  <div class="col-8">
                    <%= f.date_field :show_date, class: "form-control" %>
                  </div>
                </div>

                <div class="row mt-5 d-flex justify-content-between">
                  <div class="col-2">
                    <%= render 'layouts/back_btn' %>
                  </div>
                  <div class="col-2">
                    <%= f.submit "post", class: "btn btn-outline-warning btn-sm btn-block" %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>