<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto my-5">

      <div class="row my-3">
        <div class="col-md-8">
          <h2>new post</h2>

          <div class="row">
            <%= form_with model: @post, url: posts_path do |f| %>
              <div class="col-md-8">
                <%= f.label :genre_id, "genre" %>
                <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.label :title, "title" %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.label :body, "body" %>
                <%= f.text_area :body, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.label :image, "image" %>
                <%= f.file_field :image, accept: "image/*" %>
              </div>
              <div class="col-md-8">
                <%= f.label :place, "place" %>
                <%= f.text_field :place, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.label :show_name, "show_name" %>
                <%= f.text_field :show_name, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.label :show_date, "show_date" %>
                <%= f.date_field :show_date, class: "form-control" %>
              </div>
              <div class="col-md-8">
                <%= f.submit "post", class: "btn btn-outline-info" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>