<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 mb-3 p-5">
          <h5>
            <u><%= link_to @post.customer.name, customer_path(@post.customer), class: "link" %></u>
            <% if @post.customer.official == true %>
              <i class="fa-regular fa-circle-check" aria-hidden="true"></i>
            <% end %>
          </h5>
          <div class="col-12 text-right">
            <% if @post.customer == current_customer %>
              <%= link_to edit_post_path(@post), class: "link" do %>
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
              <% end %>
              &emsp;
              <%= link_to post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "link" do %>
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>

          <div class="row mb-3">
            <div class="col-5">
              <%= image_tag @post.image, width: "100%" %>
              <div id="post_<%= @post.id %>">
                <%= render 'public/likes/like_btn', post: @post %>
              </div>
            </div>
            <div class="col-7">
              <h5><strong><%= @post.title %></strong></h5>
              <div class="p-3">
                <%= safe_join(@post.body.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div align="right">
                <i class="fa-regular fa-flag" aria-hidden="true"></i> <%= @post.genre.name %><br>
                <%= @post.place %>
                「<%= @post.show_name %>」
                <%= @post.show_date.strftime('%Y.%m.%d') %>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-8 p-5">
          <div class="comments">
            <%= render 'public/comments/index', post: @post %>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <%= form_with model: [@post, @comment], local: false do |f| %>
                <div class="row">
                  <div class="col-9 offset-1">
                    <%= f.text_field :comment, placeholder: "comment", class: "form-control form-control-sm" %>
                  </div>
                  <div class="col-1">
                    <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                      <i class="fa-regular fa-paper-plane" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>