<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-8 p-5">
          <h4 class="text-center">Thanks</h4>
          <div class="row">
            <% @likes_rank.each do |post| %>
              <div class="col-md-4">
                <div class="card text-white">
                  <%= image_tag post.image %>
                  <div class="card-img-overlay">
                    <div class="card-title"><u><%= link_to post.place, post_path(post), class: "text-light" %></u></div>
                    <p class="card-text">
                      <%= post.show_date.strftime('%y.%m.%d') %><br>
                      <%= post.show_name %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-8 p-5">
          <h4>お客様ノート</h4>
          <div class="messages">
            <%= render 'public/messages/index', messages: @messages %>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <%= form_with model: [@message], local: false do |f| %>
               <div class="row">
                <div class="col-9 offset-1">
                  <%= f.text_field :message, placeholder: "message", class: "form-control form-control-sm" %>
                </div>
                <div class="col-1">
                  <%= f.button :type => "submit", style: 'border-style: none; background: none;' do %>
                    <i class="fa-regular fa-paper-plane" aria-hidden="true"></i>
                  <% end %>
                </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>