<div class="container">
  <div class="row">
    <div class="col-md-12 my-5">
      <p class="notice"><%= notice %><%= alert %></p>

      <div class="row">
        <div class="col-md-10 mx-auto p-5">
          <h4>管理者ログイン</h4>

          <%= form_with model: @admin, url: admin_session_path do |f| %>
            <div class="row mt-5 ml-5">
              <div class="col-3">
                <%= f.label "メールアドレス" %>
              </div>
              <div class="col-5">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-2 ml-5">
              <div class="col-3">
                <%= f.label "パスワード" %>
              </div>
              <div class="col-5">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
            </div>

            <div class="row mt-2 ml-5">
              <div class="col-3"></div>
              <div class="col-3">
                <div class="actions">
                  <%= f.submit "ログイン", class: "btn btn-outline-info btn-block" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

