<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-10 p-5">
          <h4 class="mb-3">本日のおすすめ</h4>

          <div class="col-10 mx-auto">
            <div class="row">
              <% @posts.each do |post| %>
                <div class="col-md-4 mx-auto mt-2 border-bottom">
                  <i class="far fa-flag" aria-hidden="true"></i> <%= post.genre.name %><br>
                  <%= link_to post_path(post), class: "link" do %>
                    <%= image_tag post.image, class: "image" %><br>
                    <div class="p-1"><%= post.title %></div>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="row mt-3">
              <div class="col-12 text-right">
                <%= link_to posts_path, class: "text-dark" do %>
                  すべての投稿を見る&emsp;<i class="fas fa-forward" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>