<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between">
            <h4>会員一覧</h4>
            <div align="right">
              <%= search_form_for @search, url: admin_customers_path do |f| %>
                <%= f.search_field :name_or_introduction_or_my_fave_cont, placeholder: "名前など", class: "form-control form-control-sm" %>
                <%= f.submit "search", class: "btn btn-outline-info btn-sm" %>
              <% end %>
            </div>
          </form>
          <table class="table table-hover mt-3">
            <thead>
              <tr align="center">
                <th style="width: 10%">会員ID</th>
                <th style="width: 20%">お名前</th>
                <th style="width: 20%">好きなひと</th>
                <th style="width: 10%">投稿数</th>
                <th style="width: 20%">ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @all_customers.each do |customer| %>
                <tr>
                  <td align="center"><%= customer.id %></td>
                  <td>
                    <u><%= link_to customer.name, admin_customer_path(customer), class: "link" %></u>
                    <% if customer.official == true %>
                      <i class="far fa-check-circle" aria-hidden="true"></i>
                    <% end %>
                  </td>
                  <td><%= customer.my_fave %></td>
                  <td align="center"><%= customer.posts.count %></td>
                  <td align="center">
                    <% if customer.is_deleted == false %>
                      <div class="text-success"><strong>有効</strong></div>
                    <% else %>
                      <div class="text-muted"><strong>退会</strong></div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="row mt-5">
            <div class="col-4 mx-auto">
              <%= paginate @all_customers %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>