<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between mb-3">
            <h4>
              <%= @customer.name %> さま
              <% if @customer.official == true %>
                <i class="far fa-check-circle" aria-hidden="true"></i>
              <% end %>
            </h4>
            <div align="right">
              Follow :&emsp;<%= @customer.followings.count %>&emsp;|&emsp;
              Follower :&emsp;<%= @customer.followers.count %>&emsp;|&emsp;
              Posts :&emsp;<%= @customer.posts.count %>
            </div>
          </form>

          <div class="row mb-3">
             <div class="col-3">会員ID</div>
            <div class="col-8 offset-1"><%= @customer.id %></div>
          </div>

          <div class="row mb-3">
            <div class="col-3">お名前</div>
            <div class="col-8 offset-1"><%= @customer.name %></div>
          </div>

          <div class="row mb-3">
            <div class="col-3">メールアドレス</div>
            <div class="col-8 offset-1"><%= @customer.email %></div>
          </div>

          <div class="row mb-3">
            <div class="col-3">自己紹介</div>
            <div class="col-8 offset-1">
              <% if @customer.introduction.present? %>
                <%= safe_join(@customer.introduction.split("\n"),tag(:br)) %>
              <% else %>
                <div class="text-muted">未入力</div>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">好きなひと</div>
            <div class="col-8 offset-1">
              <% if @customer.my_fave.present? %>
                <%= @customer.my_fave %>
              <% else %>
                <div class="text-muted">未入力</div>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">公開/非公開</div>
            <div class="col-8 offset-1">
              <% if @customer.published == true %>
                公開
              <% else %>
                非公開
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">退会ステータス</div>
            <div class="col-8 offset-1">
              <% if @customer.is_deleted == false %>
                <div class="text-success"><strong>有効</strong></div>
              <% else %>
                <div class="text-muted"><strong>退会</strong></div>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-3">退会理由</div>
            <div class="col-8 offset-1"><%= @customer.cancel %></div>
          </div>

          <div class="row mt-5 d-flex justify-content-between">
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
            <div class="col-2">
              <%= link_to "edit", edit_admin_customer_path(@customer), class: "btn btn-outline-success btn-sm btn-block" %>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>