<div class="container">
  <div class="row my-4">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <h4 class="mb-4">ジャンル 【 編集ページ 】</h4>
          <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
            <div class="row">
              <div class="col-5">
                <%= f.text_field :name, class: "form-control form-control-sm" %>
              </div>
              <div class="col-2">
                <%= f.submit "update", class: "btn btn-outline-success btn-sm btn-block" %>
              </div>
            </div>
          <% end %>

          <div class="row mt-5">
            <div class="col-12">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>