<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages, return_requests: @return_requests %>
        </div>

        <div class="col-md-8 p-5">
          <h4 class="mb-3">ジャンル</h4>
          <div class="row mb-3">
            <div class="col-12">
              <h6>新規登録</h6>
              <%= form_with model: @genre, url: admin_genres_path do |f| %>
                <div class="row">
                  <div class="col-5">
                    <%= f.text_field :name, class: "form-control form-control-sm" %>
                  </div>
                  <div class="col-2">
                    <%= f.submit "create", class: "btn btn-outline-warning btn-sm btn-block" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-10">
              <table class="table">
                <thead>
                  <tr align="center">
                    <th style="width: 70%">ジャンル名</th>
                    <th style="width: 30%"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @genres.each do |genre| %>
                    <tr>
                      <td><%= genre.name %></td>
                      <td><%= link_to "edit", edit_admin_genre_path(genre), class: "btn btn-outline-success btn-sm btn-block" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>