<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages, return_requests: @return_requests %>
        </div>

        <div class="col-md-8 p-5">
          <h4 class="mb-3">新規会員</h4>
          <div class="row mb-5">
            <table class="table">
              <% @new_customers.each do |customer| %>
                <tr>
                  <td><u><%= link_to customer.name, admin_customer_path(customer), class: "link" %></u> さま</td>
                  <td>好きなひと:&emsp;<%= customer.my_fave %></td>
                  <td>投稿数:&emsp;<%= customer.posts.count %></td>
                </tr>
              <% end %>
            </table>
          </div>

          <h4 class="mb-3">新着投稿</h4>
          <div class="row">
            <%= render 'admin/posts/index', posts: @new_posts %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>