<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <p class="notice"><%= notice %></p>

      <div class="row my-3">
        <div class="col-md-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between">
            <h4>投稿一覧</h4>
            <div align="right">
              <%= search_form_for @search, url: admin_posts_path do |f| %>
                <%= f.search_field :title_or_place_or_show_name_cont, placeholder: "公演名など", class: "form-control form-control-sm" %>
                <%= f.submit "search", class: "btn btn-outline-info btn-sm" %>
              <% end %>
            </div>
          </form>
          <div class="row mt-3">
            <% @posts.each do |post| %>
              <div class="col-3">
                <%= link_to admin_post_path(post) do %>
                  <%= image_tag post.image, width: "100%" %>
                  <div class="text-dark text-center"><%= post.title %></div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="row mt-5">
            <div class="col-10"></div>
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>