<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <form class="form-inline d-flex justify-content-between mb-3">
            <h4>投稿一覧</h4>
            <div align="right">
              <%= search_form_for @search, url: admin_posts_path do |f| %>
                <%= f.search_field :title_or_place_or_show_name_cont, placeholder: "公演名など", class: "form-control form-control-sm" %>
                <%= f.submit "search", class: "btn btn-outline-info btn-sm" %>
              <% end %>
            </div>
          </form>

          <div class="row">
            <% @all_posts.each do |post| %>
              <div class="col-md-3 text-center">
                <%= link_to admin_post_path(post), class: "link" do %>
                  <%= image_tag post.image, class: "image" %><br>
                  <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="row mt-5">
            <div class="col-4 mx-auto">
              <%= paginate @all_posts %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>