<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <p class="notice"><%= notice %></p>

      <div class="row my-3">
        <div class="col-md-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <div class="row">
            <div class="col-6">
              <% if @post.image.attached? %>
                <%= image_tag @post.image, width: "100%" %>
              <% end %>
            </div>
            <div class="col-6">
              <form class="form-inline d-flex justify-content-between my-3">
                <strong><%= @post.title %></strong>
                <div align="right">
                  ♡ <%= @post.likes.count %> likes
                </div>
              </form>
              <p><%= @post.body %></p>
              <p><%= @post.place %></p>
              <p><%= @post.show_name %></p>
              <p><%= @post.show_date.strftime('%Y/%m/%d') %></p>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-10"></div>
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8">
              <% @post.comments.each do |comment| %>
                <%= comment.customer.name %>
                <%= comment.comment %>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
                <%= link_to "destroy", post_comment_path(comment.post, comment), method: :delete %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>