<div class="container">
  <div class="row my-4">
    <div class="col-md-12">
      <p class="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-3 mb-3 p-5">
          <%= render 'admin/shared/sidebar', customers: @customers, posts: @posts, messages: @messages %>
        </div>

        <div class="col-md-8 p-5">
          <div class="row mb-2">
            <div class="col-6">
              <%= image_tag @post.image, width: "100%" %>
              <i class="far fa-heart" aria-hidden="true"></i>
              <%= @post.likes.count %> likes
            </div>
            <div class="col-6">
              <h5><strong><%= @post.title %></strong></h5>
              <div class="p-3">
                <%= safe_join(@post.body.split("\n"),tag(:br)) %>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12">
              <div align="right">
                <i class="fa-regular fa-flag" aria-hidden="true"></i> <%= @post.genre.name %><br>
                <%= @post.place %>
                「<%= @post.show_name %>」
                <%= @post.show_date.strftime('%Y.%m.%d') %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <% @post.comments.each do |comment| %>
                <div class="row mt-3 border-bottom">
                  <div class="col-2">
                    <%= link_to comment.customer.name, admin_customer_path(comment.customer), class: "link" %>
                  </div>
                  <div class="col-7"><%= comment.comment %></div>
                  <div class="col-2"><%= comment.created_at.strftime('%y.%m.%d') %></div>
                  <div class="col-1">
                    <%= link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "link" do %>
                      <i class="fa-solid fa-delete-left" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-2">
              <%= render 'layouts/back_btn' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>