<h6><%= Date.current.strftime('%Y/%m/%d(%a)') %></h6>
<h2><%= Time.current.strftime('%H:%M') %></h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= link_to admin_customers_path do %>
      <div class="text-dark">
        会員一覧
        <span class="badge badge-light badge-pill">
          <%= customers.count %>
        </span>
      </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to admin_posts_path do %>
      <div class="text-dark">
        投稿一覧
        <span class="badge badge-light badge-pill">
          <%= posts.count %>
        </span>
      </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to admin_messages_path do %>
      <div class="text-dark">
        お客様ノート
        <span class="badge badge-light badge-pill">
          <%= messages.count %>
        </span>
      </div>
    <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to "ジャンル", admin_genres_path, class: "link" %>
  </li>
</ul>