<!DOCTYPE html>
<html>
  <head>
    <title>encore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body d-flex flex-column vh-100">
    <header class="d-flex justify-content-between">
      <%= image_tag 'header.PNG', width: "15%" %>
      <% if admin_signed_in? %>
        <%= link_to admin_top_path do %>
          <%= image_tag 'logo.PNG', width: "50%" %>
        <% end %>
        <div class="dropdown col-2">
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp;営業中&emsp;
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "link" %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'logo.PNG', width: "50%" %>
        <% end %>
        <% if customer_signed_in? %>
          <div class="dropdown col-2">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              &emsp;営業中&emsp;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <%= link_to "マイページ", customer_path(current_customer), class: "link" %>
              </div>
              <div class="dropdown-item">
                <%= link_to "投稿する", new_post_path, class: "link" %>
              </div>
              <div class="dropdown-item">
                <%= link_to "お客様ノート", messages_path, class: "link" %>
              </div>
              <div class="dropdown-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "link" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="dropdown col-2">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              &emsp;準備中&emsp;
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <%= link_to "初めてのお客様へ", about_path, class: "link" %>
              </div>
              <div class="dropdown-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "link" %>
              </div>
              <div class="dropdown-item">
                <%= link_to "ログイン", new_customer_session_path, class: "link" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <% if admin_signed_in? %>
          <p>カスタマー側のリンクになります。</p>
        <% end %>
        <div class="row">
          <div class="col-md-2">
            <h6>ホーム</h6>
            <ul class="list-unstyled">
              <li class="footer-list"><%= link_to "トップページ", root_path, class: "footer-link" %></li>
              <li class="footer-list"><%= link_to "初めてのお客様へ", about_path, class: "footer-link" %></li>
              <% if customer_signed_in? %>
                <li class="footer-list"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "footer-link" %></li>
              <% else %>
                <li class="footer-list"><%= link_to "ログイン", welcome_path, class: "footer-link" %></li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-2">
            <h6>投稿</h6>
            <ul class="list-unstyled">
              <li class="footer-list"><%= link_to "投稿一覧", posts_path, class: "footer-link" %></li>
              <% if customer_signed_in? %>
                <li class="footer-list"><%= link_to "新規投稿", new_post_path, class: "footer-link" %></li>
              <% end %>
            </ul>
          </div>

          <% if customer_signed_in? %>
            <div class="col-md-2">
              <h6>その他</h6>
              <ul class="list-unstyled">
                <li class="footer-list"><%= link_to "お客様ノート", messages_path, class: "footer-link" %></li>
              </ul>
            </div>
          <% end %>

        </div>
      </div>
    </footer>
  </body>
</html>
