<!DOCTYPE html>
<html>
  <head>
    <title>encore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body d-flex flex-column vh-100">
    <header class="d-flex justify-content-between">
      <%= image_tag 'header.PNG', width: "10%" %>
      <% if admin_signed_in? %>
        <%= link_to admin_top_path do %>
          <%= image_tag 'logo.PNG', width: "30%" %>
        <% end %>
        <div class="dropdown col-2">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            営業中
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <%= link_to "お客様ノート", admin_messages_path %>
            </div>
            <div class="dropdown-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, data: { confirm: "ログアウトしますか？"} %>
            </div>
          </div>
        </div>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'logo.PNG', width: "30%", class: "col-5" %>
        <% end %>
        <% if customer_signed_in? %>
          <div class="dropdown col-2">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              営業中
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <%= link_to "マイページ", customer_path(current_customer) %>
              </div>
              <div class="dropdown-item">
                <%= link_to "投稿する", new_post_path %>
              </div>
              <div class="dropdown-item">
                <%= link_to "お客様ノート", messages_path %>
              </div>
              <div class="dropdown-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, data: { confirm: "ログアウトしますか？"} %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="dropdown col-2">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              準備中
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <%= link_to "初めてのお客様へ", about_path %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>No Live, No Life</p>
      <% unless admin_signed_in? %>
        <% if customer_signed_in? %>
          <div class="text-right">
            <%= link_to "about", about_path %>

          </div>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
