<!DOCTYPE html>
<html>
  <head>
    <title>encore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <% if admin_signed_in? %>
        <%= link_to admin_top_path do %>
          <h1>encore</h1>
        <% end %>
        <div class="text-right">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </div>
      <% else %>
        <%= link_to root_path do %>
          <h1>encore</h1>
        <% end %>
        <% if customer_signed_in? %>
          <div class="text-right">
            <%= link_to "welcome", welcome_path %>
            <%= link_to "about", about_path %>
            <%= link_to "マイページ", customer_path(current_customer) %>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="text-right">
            <%= link_to "welcome", welcome_path %>
            <%= link_to "about", about_path %>
            <%= link_to "ログイン", new_customer_session_path %>
          </div>
        <% end %>
      <% end %>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>No Live, No Life</p>
      <% unless admin_signed_in? %>
        <% if customer_signed_in? %>
          <div class="text-right">
            <%= link_to "お客様ノート", messages_path %>
          </div>
        <% end %>
      <% end %>
    </footer>
  </body>
</html>
